{% load staticfiles %}
<html>
    <head>
        <title>Ukaar blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

<body>
    <div class="page-header">
	{% if user.is_authenticated %}
		<p><h3>Hi {{ user.username }}!</h3></p>
		<p><a href="{% url 'logout' %}"><h3>Logout</h3></a></p>
     		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% else %}
	<p><h3>You are not logged in.</h3></p>
  	  <a href="{% url 'login' %}"><h3>Login</h3></a>
	  <a href = "{% url 'signup' %}"><h3>SignUp</h3></a>
  	{% endif %}	
        <h1><a href="/">Ukaar Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

